@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #03002a, #141146, #2116ca);
  color: #fff;
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.9rem; /* largura do scrollbar */
}

::-webkit-scrollbar-track {
  background: #ffffff; /* cor de fundo do track */
}

::-webkit-scrollbar-thumb {
  background: #0a0738; /* cor do thumb (a barra em si) */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* cor do thumb quando hover */
}
